@model  IEnumerable <AmazonSearch.Models.ItemModel>

    @foreach (var item in Model)
    {
        <div>
            <h4>@Html.DisplayFor(model => item.Title)</h4>

            <div class="manufactorer">
                @Html.DisplayFor(model => item.Manufacturer)
            </div>

            <div class="price">
                @Html.DisplayFor(model => item.Price)
            </div>

        </div>
        <hr />
    }

